<% 
//Variables

//Llena el formulario con el objeto req
req = {
  nombreOrigen: 'Kevin',
  empresaOrigen: 'SoltekOnline',
  emailOrigen: '',
  telefonoOrigen: '6461234554',
  paisOrigen: 'MX',
  calleOrigen: 'Lázaro Cárdenas',
  numeroOrigen: '',
  cpOrigen: '22800',
  coloniaOrigen: 'Zona Centro',
  ciudadOrigen: 'Ensenada',
  estadoOrigen: 'BC',
  rfcOrigen: '',
  referenciaOrigen: '',
  nombreDestino: 'Luis',
  empresaDestino: '',
  emailDestino: '',
  telefonoDestino: '6462255448',
  paisDestino: 'MX',
  calleDestino: 'zapata',
  numeroDestino: '145',
  cpDestino: '80220',
  coloniaDestino: 'Guadalupe',
  ciudadDestino: 'PTE',
  estadoDestino: 'SI',
  rfcDestino: '',
  referenciaDestino: '',
  tipo: 'box',
  contenido: 'camisetas rojas',
  valor: '0',
  cantidad: '1',
  largo: '5',
  ancho: '5',
  alto: '5',
  peso: '5',
  seguro: '',
  firma: '',
  peligroso: ''
}

//Functions
printObject = function(obj){
    var openList = '<li class="list-group-item d-flex justify-content-between lh-condensed"><div><h6 class="my-0">';
    var middleList = '</h6><small class="text-muted">';
    var closeList = '</small></div></li>' 
    var List = '';
    if(typeof obj === 'undefined') return List;

    obj.forEach(result => {
        Object.keys(result).forEach(key => {
        if(result[key]) {
            if(typeof result[key] !== 'object'){
                List += openList + result[key] + middleList + key + closeList;
            }
            else{
                printObject([result[key]]);
            }
        }})
    })
    return List;
}

printQuote = function(obj){
    var len = Object.keys(obj).length;

    var j=1;
    var List = '';

    var headStart = '<br><li class="list-group-item d-flex justify-content-between lh-condensed bg-secondary text-white"><div><h6 class="my-0">Cotización';
    var headEnd = '</h6></div></li>';     

    var openList = '<li class="list-group-item d-flex justify-content-between lh-condensed"><div><h6 class="my-0">';
    var middleList = '</h6><small class="text-muted">';
    var closeList = '</small></div></li>' 
    
    var button = '<button type="button" class="btn btn-primary">Generar</button>';
    if(typeof obj === 'undefined') return List;
    

    for(var i=0; i<len; i++){
        Object.keys(obj[i]).forEach(key => {
        if(obj[i][key]) {
            if(obj[i][key] !== 'No disponible'){
                if(key === 'carrier') List += headStart + (j++) + headEnd;
                List += openList + obj[i][key] + middleList + key + closeList;
                if(key === 'totalPrice') List += button;
            }
        }})
    }
    return List;
}

printValue = function(field){
    if(typeof req !== 'undefined') {
        if(field in req){
            console.log(req[field]);
            return req[field];
        }
    }
    return "";
}
checked = function(value){
    if(typeof req !== 'undefined') {
        if(req.tipo === value)
            return "checked";
    }
    return "";
}

//Logic

if(typeof disabled === 'undefined') {
    disabled = "";
}
if(typeof modal === 'undefined') {
    modal = "";
}
%>