<% 
//Variables

//Llena el formulario con el objeto req

if(typeof req === 'undefined'){
    req = {
      nombreOrigen: 'Arturo',
      empresaOrigen: 'SoltekOnline',
      emailOrigen: '',
      telefonoOrigen: '6461234554',
      paisOrigen: '',
      calleOrigen: 'Lázaro Cárdenas',
      numeroOrigen: '',
      cpOrigen: '',
      coloniaOrigen: '',
      ciudadOrigen: '',
      estadoOrigen: '',
      rfcOrigen: '',
      referenciaOrigen: '',
      nombreDestino: 'Luis',
      empresaDestino: '',
      emailDestino: '',
      telefonoDestino: '6462255448',
      paisDestino: '',
      calleDestino: 'Zapata',
      numeroDestino: '',
      cpDestino: '',
      coloniaDestino: '',
      ciudadDestino: '',
      estadoDestino: '',
      rfcDestino: '',
      referenciaDestino: '',
      tipo: 'box',
      contenido: 'camisetas rojas',
      valor: '0',
      cantidad: '1',
      largo: '5',
      ancho: '5',
      alto: '5',
      peso: '5',
      seguro: '',
      firma: '',
      peligroso: ''
    }
} 

//Functions
printObject = function(obj){
    if(typeof obj === 'undefined') return List;
    var openList = '<li class="list-group-item d-flex justify-content-between lh-condensed"><div><h6 class="my-0">';
    var middleList = '</h6><small class="text-muted">';
    var closeList = '</small></div></li>' 
    var List = '';
    obj.forEach(result => {
        Object.keys(result).forEach(key => {
        if(result[key]) {
            if(typeof result[key] !== 'object'){
                if(key === 'label') List += openList + '<a class="btn btn-primary stretched-link" target="_blank" href="' + result[key] + '" > Obtener guía del envío </a>' + middleList + key + closeList;
                else List += openList + result[key] + middleList + key + closeList;
            }
            else{
                printObject([result[key]]);
            }
        }})
    })
    return List;
}

createButton = function(carrier, service){
    return '<button type="submit" class="btn btn-primary" name="btnGenerar" id="btnGenerar" value ="'+carrier+','+service+'">\
                Generar\
            </button>';
}

createList = function(content, key){
    return '<li class="list-group-item d-flex justify-content-between lh-condensed">\
                <div>\
                    <h6 class="my-0">'+ content +'</h6>\
                    <small class="text-muted">'+ key + '</small>\
                </div>\
            </li>';
}

createHeader = function(count){
    return '<br><li class="list-group-item d-flex justify-content-between lh-condensed bg-secondary text-white">\
                    <div><h6 class="my-0">Cotización '+ count +'</h6></div>\
                </li>';
}

printQuotes = function(obj){
    var List = '';
    if(typeof obj === 'undefined') return List;

    //HTML elements
    var headStart = '<br><li class="list-group-item d-flex justify-content-between lh-condensed bg-secondary text-white"><div><h6 class="my-0">Cotización ';
    var headEnd = '</h6></div></li>';     
    var k = 1;
    for(var i=0;i<obj.length;i++){
        for(var j=0;j<obj[i].length;j++){
            Object.keys(obj[i][j]).forEach(key => {
                if(obj[i][j][key]) {
                    if(obj[i][j][key] !== 'No disponible'){
                        if(key === 'carrier') List += createHeader(k++);
                            List += createList(obj[i][j][key], key);
                        if(key === 'totalPrice')
                            List += createButton(obj[i][j]['carrier'], obj[i][j]['service']);
                    }
                }
            }) 
        }
    }
    return List;
}

printQuote = function(obj){
    var List = '';
    if(typeof obj === 'undefined') return List;
    //HTML elements
    var headStart = '<br><li class="list-group-item d-flex justify-content-between lh-condensed bg-secondary text-white"><div><h6 class="my-0">Cotización ';
    var headEnd = '</h6></div></li>';     
    var k = 1;
    for(var i=0;i<obj.length;i++){
        Object.keys(obj[i]).forEach(key => {
            if(obj[i][key]) {
                if(obj[i][key] !== 'No disponible'){
                    if(key === 'carrier') List += createHeader(k++);
                        List += createList(obj[i][key], key);
                    if(key === 'totalPrice')
                        List += createButton(obj[i]['carrier'], obj[i]['service']);
                }
            }
        }) 
    }
    return List;
}

createRow = function(obj,i){
    return `<tr>
        <th scope="row">`+(i+1)+`</th>
            <td>
                `+obj.name+` `+obj.service+` <br>
                <a href="showTracking?trackingNumber=`+obj.tracking_number+`">`+obj.tracking_number+`</a>
            </td>
        <td>`+obj.status+`</td>
        <td>
            `+obj.consignee_name+` `+obj.consignee_street+`, <br>
            `+obj.consignee_number+`
        </td>
        <td>
            `+obj.shipment_weight+` KG
        </td>
        <td>
            Sin servicios <br>
            adicionales
        </td>
        <td>$`+obj.grand_total+` MXN</td>
        <td>
            `+obj.sender_name+` <br>
            `+obj.created_at+`
        </td>
        <td>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a type="button" onclick="printExternal('`+obj.label_file+`')" class="btn btn-outline-primary">Imprimir</a>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item" target="_blank" href="`+obj.label_file+`">Ver guía</a></li>
                        <li><a class="dropdown-item" target="_blank" href="`+obj.label_file+`" download>Descargar guía</a></li>
                        <li><a class="dropdown-item" href="showTracking?trackingNumber=`+obj.tracking_number+`">Rastrear envío</a></li>
                        <li><a class="dropdown-item" href="#">Solicitar recolección</a></li>
                        <li><a class="dropdown-item" href="#">Cancelar</a></li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>`;
}

printShippings = function(obj){
    var table = '';
    if(typeof obj === 'undefined') return table;
    
    for (let i = 0; i < obj.length; i++) {
        table += createRow(obj[i], i);
    }    
    return table;
}

printCouriers = function(obj){
    couriers = "";
    if(typeof obj !== undefined)
        for (let i = 0; i < obj.length; i++)
            couriers += '<button class="dropdown-item cotizar" type="button" value="'+obj[i].name+'" name="btnCotizar" id="btnCotizar">'+obj[i].description+'</a>'
    return couriers;

}

printValue = function(field){
    if(typeof req === 'undefined') return "";
    if(field in req) return req[field];
}
checked = function(value){
    if(typeof req !== 'undefined') {
        if(req.tipo === value)
            return "checked";
    }
    return "";
}


//Logic

if(typeof disabled === 'undefined') {
    disabled = "";
}
if(typeof modal === 'undefined') {
    modal = "";
}
if(typeof modal_title === 'undefined') {
    modal_title = "Cotizaciones para tu envío";
}
if(typeof couriers === 'undefined') {
    couriers = "";
}
if(typeof error === 'undefined') {
    error = "";
}
%>