<%- include('header.ejs'); %>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 ">
    <h4 class="mb-3">Rastrea tu envio</h4>
    <form  action="showTracking" method="get">
      <div class="row">
        <div class="col-md-6 mb-3">
          <input type="text" class="form-control" id="trackingNumber" name="trackingNumber" placeholder="Ingresa el número de rastreo" required>
        </div>
      </div>   
      <hr class="mb-4">
      <button class="btn btn-<%- color %> btn-lg btn-block" type="submit" value="search">Rastrear</button>
    </form>
  </div>
  <div class="col-md-2">
  </div>
</div>
<%- include('footer.ejs'); %>